body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
	font-size: 2em;
	padding: 0.5%;
	width: 100%;
}

table {
	border-collapse: all;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-spacing: 0;
	width: 100%;
}

th {
	background-color: #ddd;
	padding: 0.25%;
}

th, td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	white-space: nowrap;
}

td {
	background-color: #fff;
	padding: 0.25%;
}

.loading{
margin:10% auto;
font-size:1vw;
position:relative;
text-indent:-9999em;
border-top:1.1em solid rgba(204,204,204,0.2);
border-right:1.1em solid rgba(204,204,204,0.2);
border-bottom:1.1em solid rgba(204,204,204,0.2);
border-left:1.1em solid #ccc;transform:translateZ(0);
animation:load 1.1s infinite linear
}
.loading,.loading:after{
border-radius:50%;
width:10em;
height:10em
}
@keyframes load{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}